/*
 * Globals
 */

body {
  //font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;  
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
 *
 * Override Bootstrap's default container width
 *
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}



/*
 * Blog Entry
 */
 .blog-main {
  font-size: 18px;
  line-height: 1.5;
}
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* NEW */
/* GLOBAL */
.vertical-align {
  display: flex;
  align-items: center;height:100%
}



/**************************************

HEADER / BANNER

*************************************/
header#unccedu-header {
    height: 100px;
    color:#fff;
    background: url("http://www.uncc.edu/sites/all/themes/unccedu/images/header-bg.png") repeat-x scroll center top #ffffff;
}
header#unccedu-header a {
  color:#fff;
}
header#unccedu-header .container {
    background: url("http://www.uncc.edu/sites/all/themes/unccedu/images/header-logo-watermark.png") repeat scroll center center #ffffff;
    height: 100px;
    max-width: 970px;
}
a.site-title {
    font-family: times,"times new roman",serif;
    font-size: 1.85rem;
    line-height:1.0rem;
    text-align: left;
}
#header-utility-links {
    list-style-type: none;
    margin-bottom: 7px;
}
#header-utility-links li {
    font-family: arial,helvetica,sans-serif;
    font-size: 1.3rem;
    line-height: 1.45rem;
    text-align: right;
}
.header-utility-search-wrapper {
    float: right;
}
.form-control.utility-search-input{
  border-radius: 0px;
  border: medium none;
  font-size: 13px;
  height: 19px;
  padding: 0 17px 1px 6px;
  width: 135px;
  float:left;
}
.utility-search-button {
    border: 0 none;
    border-radius: 0px;
    display: inline-block;
    height: 19px;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: top;
    width: 19px;
    float:left;
}


.banner-wrapper {
    margin: auto;
    max-height: 400px;
    max-width: 1040px;
    overflow: hidden;
}

.main-content{background-color:#fff;}

/***************************************************************************
***************************************************************************

NAV

IMPORTANT: This is where the difference in the templates BEGINS


Tabs = nav-tabs & navbar-tabs
-> Tabs that go up into the banner, page has a gray background

Blocks = nav-blocks & navbar-blocks
-> Blocks that go below the banner, page has a white background

<body class="nav-XXXX">
<nav class="navbar navbar-default navbar-XXXX">
 
***************************************************************************
**************************************************************************/

/* Changes the color of the body background */
body.nav-blocks{
	background-color:#fff;
}
body.nav-tabs{
	background-color:#dddddd;
}




/*******************
This block of css handles the width for the tab version of the nav
********************/
body.nav-tabs .main-nav,
body.nav-tabs .main-nav .container-fluid,
body.nav-tabs .main-nav .navbar-collapse{
padding:0px;
}
.main-nav .navbar{
margin-bottom:0px;border:none;
}
/***********************************************/



nav.navbar-blocks .container-fluid  {
	padding-left:0px;
	padding-right: 0px;
}

nav.navbar-blocks .container-fluid>.navbar-collapse,
nav.navbar-blocks .container-fluid>.navbar-header,
nav.navbar-blocks .container>.navbar-collapse,
nav.navbar-blocks .container>.navbar-header{
   	margin-left: -15px;
   	margin-right: -15px;
}

.main-nav .navbar{margin-bottom:0px;border:none;}

/*********/
@media (min-width: 768px) {

.main-nav{background-color:#fff;}
.main-nav .navbar-default {background: none;}
/*************/
/*******navbar-tabs*******/
.navbar-tabs {
    margin: auto;
    /*max-width: 960px;*/
    position: relative;
    top: -47px;
    z-index: 499;
}
.navbar-tabs .nav-justified > li > a {
    background-color:rgba(240, 255, 255, 0.8);
    margin-right:4px !important;
    /*border-right: 1px solid rgba(255, 245, 255, .7);*/
    color: #555555 !important;
    font-family: arial,helvetica,sans-serif;
    font-size: 0.85em;
}
.navbar-tabs .nav > li > a {
  padding:15px 0;
}
.navbar-tabs .nav-justified > li > a:hover {
    background-color: rgba(255, 255, 255, 1);
}
.navbar-tabs .nav-justified > li:last-child > a {
    margin-right:0px !important;
}
/*************/
/*******navbar-blocks*******/
.navbar-blocks .nav-justified > li > a {
    color: #707070;
    text-align:left;
    border-right: 1px dotted #bbbbbb;
    font-family: arial,helvetica,sans-serif;
    font-size: 0.85em;
}
.navbar-blocks .nav > li > a {
  padding-top: 9px;
  padding-bottom: 20px;
}
.navbar-blocks .nav-justified > li.active > a,
.navbar-blocks .nav-justified > li > a:hover {
    color: #0a7543 !important;
    background-color:#f6f6f6;
}

/*************/

body.nav-blocks footer .row{
	margin-right: 0px;
	margin-left: 0px;	
}


} /* end min-width */




/***************************************************************************
***************************************************************************

IMPORTANT: This is where the difference in the templates ENDS
 
***************************************************************************
**************************************************************************/


/*

 * Blog name and description
 */
.blog-header {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
}
.blog-title {  
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}





/**************************************

FOOTER

*************************************/


footer.container {
    /*background: url("http://www.uncc.edu/sites/all/themes/unccedu/images/footer-bg.png") repeat-x scroll left top #fff;
    //height: 110px;*/
    padding-bottom:2.0rem;
}
#footer-utility-bar{background:#00703c; min-height:35px;}
#footer-utility-bar ul {margin-bottom:0px;}

#footer-utility-bar ul li a {
    color: #ffffff;
    font-family: arial,helvetica,sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
}

#footer-university-info #university-name a {
    color: #00703c;
    font-family: arial,helvetica,sans-serif !important;
    font-size: 14px;
    font-weight: bold;
    text-transform: none !important;
}
#footer-university-info #university-address,
#footer-university-info #university-legal {
    color: #666666;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    line-height: 14px !important;
    margin-bottom: 5px;
    margin-top: 3px;
}
#footer-university-info #university-legal a {
    color: #006633;
    text-decoration: underline;
}
#footer-follow #social-title {
    border-bottom: 0 none;
    color: #666666 !important;
    font-family: arial,helvetica,sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 20px;
}
div.social-icons,
div.social-icons a {
    display: inline-block;
    height: 30px;
    margin-right: 3px;
    vertical-align: top;
    width: 30px;
}
div.social-icons.facebook a {
    background: url("http://ui.uncc.edu/sites/all/themes/unc_charlotte/img/social-icons.png") no-repeat scroll 0 0 transparent;
}
div.social-icons.blog a {
    background: url("http://ui.uncc.edu/sites/all/themes/unc_charlotte/img/social-icons.png") no-repeat scroll 0 -30px transparent;
}
div.social-icons.twitter a {
    background: url("http://ui.uncc.edu/sites/all/themes/unc_charlotte/img/social-icons.png") no-repeat scroll 0 -60px transparent;
}
div.social-icons.flickr a {
    background: url("http://ui.uncc.edu/sites/all/themes/unc_charlotte/img/social-icons.png") no-repeat scroll 0 -90px transparent;
}
div.social-icons.youtube a {
    background: url("http://ui.uncc.edu/sites/all/themes/unc_charlotte/img/social-icons.png") no-repeat scroll 0 -120px transparent;
}
